* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding-bottom: 300px;
}
.floating-whatapp-icon {
  height: 50px;
  width: 50px;
  background-color: #3dcc74;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border-radius: 50%;
  color: #fff;
  position: fixed;
  bottom: 7%;
  right: 5%;
  text-decoration: none;
  transition: all 0.3s;
}
.floating-whatapp-icon:hover {
  scale: 1.1;
}
.navbar #sidebar-active {
  display: none;
}
::-webkit-scrollbar {
  width: 0;
}
.container {
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  background-color: #000;
  height: auto;
}
.navbar .logo h3 {
  font-family: sans-serif;
  color: #ccc;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
nav ul li a {
  text-decoration: none;
  font-family: sans-serif;
  color: #fff;
  transition: all 0.2s;
}
nav ul li a:hover {
  padding-bottom: 3px;
  border-bottom: 2px solid #c20d0a;
}

.signup {
  background: #c20d0a;
  padding: 8px;
  color: #fff;
  border-radius: 10px;
}
.signup:hover {
  background: #c20d0a;
  padding: 8px;
  color: #fff;
  border-radius: 10px;
}
.hero-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 50px;
}
.hero-section h3 {
  font-family: sans-serif;
  font-size: x-large;
  color: #ccc;
  text-transform: capitalize;
  text-align: center;
}
.hero-section p {
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  line-height: 30px;
}
.hero-section button {
  padding: 15px;
  border: none;
  background-color: #c20d0a;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: large;
}
.hero-section span {
  color: #c20d0a;
}

.hero-section button:hover {
  opacity: 0.5;
}

footer {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  background-color: #000;
  color: #ccc;
  bottom: 0;
}
footer .newletter {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: sans-serif;
  color: #ccc;
}
.newletter .social-links {
  padding-top: 10px;
  width: 60%;
  display: flex;
  justify-content: space-around;
}
.newletter .social-links i {
  font-size: 20px;
  color: #c20d0a;
  cursor: pointer;
}
.quick-links h3 {
  font-size: 17px;
  color: #11a368;
  font-family: sans-serif;
}
.quick-links ul li {
  list-style-type: none;
  font-family: sans-serif;
  font-size: 16px;
  margin-top: 5px;
}
.quick-links ul li a {
  text-decoration: none;
  color: #ccc;
  padding: 3px;
}
.programs-card h3 {
  font-size: 17px;
  color: #11a368;
  font-family: sans-serif;
}
.programs-card ul li {
  list-style-type: none;
  font-family: sans-serif;
  font-size: 16px;
  margin-top: 5px;
}
.contact-info h3 {
  font-size: 17px;
  color: #11a368;
  font-family: sans-serif;
}
.contact-info p {
  font-family: sans-serif;
  font-size: 16px;
  margin-top: 5px;
}
.contact-info p i {
  color: #c20d0a;
  padding-right: 5px;
}
footer .newletter .email-input {
  display: flex;
  border: 1px solid #ccc;
}
.email-input input {
  width: 70%;
  padding: 5px;
  border: none;
  outline: none;
}
.email-input button {
  width: 30%;
  border: none;
  background-color: #11a368;
  color: #fff;
  outline: none;
  border-left: 1px solid #ccc;
  cursor: pointer;
}
.know-your-bmi {
  width: 100%;
  padding: 60px 10%;
  background: #111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.know-your-bmi h3 {
  font-family: sans-serif;
  font-size: 25px;
  color: #11a368;
}
.know-your-bmi p {
  font-family: sans-serif;
  color: #11a368;
}
.know-your-bmi p span {
  color: #ccc;
}

.know-your-bmi .bmi-container {
  padding: 20px;
  text-align: left;
}
.know-your-bmi .bmi-container #bmi-results {
  padding: 10px;
}
#ai-response {
  margin-top: 20px;
  padding: 15px;
  background-color: #000;
  font-family: sans-serif;
  height: auto;
}
#ai-response p {
  color: #fff;
}
#ai-response strong {
  color: #11a368;
}

.bmi-container .inputs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  gap: 10px;
}
.bmi-container .inputs label {
  font-family: sans-serif;
}
.bmi-container .inputs input {
  width: 80%;
  border: 0;
  border-radius: 5px;
  padding: 6px;
  border: 1px solid #555;
  outline: none;
}
.bmi-container button {
  padding: 10px;
  margin-left: 10px;
  border: none;
  color: #fff;
  border-radius: 5px;
  background-color: #11a368;
  cursor: pointer;
}
.bmi-container button:hover {
  opacity: 0.6;
}

.contactus {
  width: 100%;
  padding: 60px 10%;
  background: #111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactus form {
  width: 100%;
  padding: 10px;
  font-family: sans-serif;
}
.contactus form .inputs {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.contactus form input {
  padding: 10px;
  outline: none;
  width: 250px;
  border: none;
  border-radius: 5px;
  border: 2px solid #555;
}
.contactus form textarea {
  width: 250px;
  height: 150px;
  resize: none;
  outline: none;
  padding: 4px;
  border-radius: 5px;
  border: 2px solid #555;
  font-family: sans-serif;
}
.contactus form button {
  padding: 10px;
  border: none;
  outline: none;
  background-color: #11a368;
  color: #fff;
  font-family: sans-serif;
  margin-left: 10px;
  border-radius: 5px;
}
.contactus form button:hover {
  opacity: 0.6;
}

.contactus h3 {
  font-size: 25px;
  padding: 10px;
  font-family: sans-serif;
  color: #11a368;
}
.aboutus {
  padding: 60px 10%;
  background: #111;
  color: white;
  text-align: center;
}
.aboutus h3 {
  font-size: 25px;
  padding: 10px;
  font-family: sans-serif;
  color: #11a368;
}
.aboutus p {
  font-family: sans-serif;
  font-weight: 400;
}
.aboutus img {
  width: 90%;
  padding: 10px;
}
.programs {
  padding: 60px 10%;
  background: #111;
  color: white;
  text-align: center;
}
.programs .programs-title {
  font-size: 25px;
  padding: 10px;
  color: #11a368;
  font-family: sans-serif;
}

.program-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.card {
  background: #1c1c1c;
  width: 300px;
  border-radius: 12px;
  overflow: hidden; /* makes image follow rounded corners */
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover; /* prevents stretching */
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  margin-bottom: 10px;
}

.card-content p {
  font-size: 14px;
  margin-bottom: 15px;
  color: #ccc;
}

.card-content button {
  padding: 10px 18px;
  border: none;
  background: #ff3c00;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.card-content button:hover {
  background: #ff5c2a;
}
@media (max-width: 768px) {
  footer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    text-align: center;
  }
  footer .newletter {
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }
  footer .newletter .email-input {
    display: flex;
    border: 1px solid #ccc;
  }
  .newletter .social-links {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .navbar label {
    color: #fff;
    cursor: pointer;
    font-size: 20px;
  }
  .navbar #sidebar-active {
    display: none;
  }

  .navbar nav {
    position: absolute;
    background-color: #121212;
    right: 5%;
    top: 3%;
    padding: 20px;
    border: 1px solid #11a368;
    border-radius: 5px;
    scale: 0;
    transition: all 0.2s;
  }
  #sidebar-active:checked ~ nav {
    scale: 1;
  }
  .navbar nav ul {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    gap: 20px;
  }
}
